<div class="row row-no-x-margin my-5">
  <div class="col-sm-12">
    <mat-card color="acccent">
      <div class="row">
        <div class="col-2">
          <div class="d-flex">
            <img [src]="work.img" style="width: 90px;">
          </div>
        </div>
        <div class="col-10">
          <mat-card-header>
            <mat-card-title>{{work.company}}</mat-card-title>
            <mat-card-subtitle>
              <strong>{{work.position}}</strong>
              <br />
              <i>{{work.startDate | date :'MMM yyyy'}} - {{work.endDate ? (work.endDate | date:'MMM yyyy'):
                'Present'}}</i>
            </mat-card-subtitle>
          </mat-card-header>
        </div>
      </div>

      <mat-card-content>
        <p>
          {{work.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>