.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  top: 0;
}

.background-sky {
  background-color: #1976d2;
  background: linear-gradient(145deg, #2c3a50, #42a5f5);
  color: #fff;
}
