<div class="row row-no-x-margin my-5">
    <div class="col-sm-6">
        <mat-card color="acccent">
            <div class="mb-1 d-flex">
                <div class="d-flex">
                    <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="100px"
                        style="margin-top:-15px">
                </div>
                <div class="d-flex">
                    <mat-card-header>
                        <mat-card-title>Angular / AngularJS</mat-card-title>
                        <mat-card-subtitle>
                            <strong>My favorite front end framework with the help of these guys. (this site is built using Angular 8)</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
            </div>
            <mat-card-content>
                <ul>
                    <mat-list>
                        <mat-list-item>
                            <img width=35px
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png"
                                alt="...">
                            <span class="pl-2">Bootstrap 4</span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px src="https://angular.io/generated/images/marketing/concept-icons/karma.png"
                                alt="...">
                            <span class="pl-2">Karma </span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px
                                src="https://www.vectorlogo.zone/logos/typescriptlang/typescriptlang-icon.svg"
                                alt="...">
                            <span class="pl-2"> TypeScript </span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png"
                                alt="...">
                            <span class="pl-2"> JavaScript </span>
                        </mat-list-item>
                        <mat-list-item>
                            <img style="background-color: grey;" width=35px
                                src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
                                alt="...">
                            <span class="pl-2">Angular Material</span>
                        </mat-list-item>
                    </mat-list>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card color="acccent">
            <div class="mb-1 d-flex">
                <div class="d-flex">
                    <img src="https://logos-download.com/wp-content/uploads/2017/07/Microsoft_.NET_logo.svg"
                        width="100px" style="margin-top:-15px">
                </div>
                <div class="d-flex">
                    <mat-card-header>
                        <mat-card-title>.NET / .NET Core</mat-card-title>
                        <mat-card-subtitle>
                            <strong>Probably THE best software development platform</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
            </div>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <span>.NET Standard</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span>.NET Core</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span>ASP.NET MVC</span>
                    </mat-list-item>
                </mat-list>
               
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row row-no-x-margin my-5">
    <div class="col-sm-6">
        <mat-card color="acccent">
            <div class="mb-1 d-flex">
                <div class="d-flex">
                    <img src="https://www.svgrepo.com/show/120228/database.svg" width="100px"
                        style="margin-top:-15px">
                </div>
                <div class="d-flex">
                    <mat-card-header>
                        <mat-card-title>Databases</mat-card-title>
                        <mat-card-subtitle>
                            <strong>Each has a use, these are some i'm proficient in.</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
            </div>
            <mat-card-content>
                <ul>
                    <mat-list>
                        <mat-list-item>
                            <img width=35px
                                src="https://www.oracle.com/a/ocom/img/pl-sql.svg"
                                alt="...">
                            <span class="pl-2">PL/SQL</span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px src="https://cdn.worldvectorlogo.com/logos/microsoft-sql-server.svg"
                                alt="...">
                            <span class="pl-2"> MSSQL / T-SQL </span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px
                                src="https://wiki.postgresql.org/images/thumb/a/a4/PostgreSQL_logo.3colors.svg/116px-PostgreSQL_logo.3colors.svg.png"
                                alt="...">
                            <span class="pl-2"> PostgreSQL </span>
                        </mat-list-item>                       
                    </mat-list>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>   
    <div class="col-sm-6">
        <mat-card color="acccent">
            <div class="mb-1 d-flex">
                <div class="d-flex">
                    <img src="https://image.flaticon.com/icons/svg/25/25185.svg" width="100px"
                        style="margin-top:-15px">
                </div>
                <div class="d-flex">
                    <mat-card-header>
                        <mat-card-title>Honorable Mentions</mat-card-title>
                        <mat-card-subtitle>
                            <strong>Some tools that I find essiential and i'm fluent in.</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
            </div>
            <mat-card-content>
                <ul>
                    <mat-list>
                        <mat-list-item>
                            <img width=35px
                                src="https://wiki.jenkins.io/download/attachments/2916393/logo.png?version=1&modificationDate=1302753947000&api=v2"
                                alt="...">
                            <span class="pl-2">Jenkins</span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px src="https://seeklogo.com/images/A/atlassian-logo-DF2FCF6E4D-seeklogo.com.png"
                                alt="...">
                            <span class="pl-2"> Atlassian Tools </span>
                        </mat-list-item>
                        <mat-list-item>
                            <img width=35px
                                src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                alt="...">
                            <span class="pl-2"> GitHub </span>
                        </mat-list-item>                       
                    </mat-list>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>   
</div>