<header>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <div class="container d-flex">
        <a mat-button routerLink="/">
          Resume
        </a>
        <span class="toolbar-spacer"></span>
        <a mat-button [routerLink]="'/login'">Login</a>
        <a mat-button [routerLink]="'/register'">Register</a>
        <button mat-button [matMenuTriggerFor]="accountMenu">Account</button>
        <mat-menu class="pull-right" #accountMenu="matMenu">
          <div *ngIf="!isAuthenticated">
            <a mat-menu-item [routerLink]="'/login'">Login</a>
            <a mat-menu-item [routerLink]="'/register'">register</a>
          </div>
          <div *ngIf="isAuthenticated">
            <a mat-menu-item [routerLink]="'/welcome'">Content</a>
            <a mat-menu-item (click)="signout()" href="javascript:void(0)"
              >Signout</a
            >
          </div>
        </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
</header>
